

/* main color background */
$VeryDarkBlue: hsl(233, 47%, 7%);

/* Card Background */
$DarkDesaturatedBlue: hsl(244, 38%, 16%);

/* Accent */
$SoftViolet:hsl(277, 64%, 61%);

/* Main heading */
$White : hsl(0, 0%, 100%);

/* Main Paragraph */
$SightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);

/* Stat headings */
$SightlyTransparentWhiteHeadings : hsla(0, 0%, 100%, 0.6);


@mixin displayFlex { 
    display: flex;
}

@mixin height ($height) { 
    height: $height;
}

@mixin width ($width) { 
    width: $width;
}

@mixin maxWidth ($maxWidth) { 
    max-width: $maxWidth;
}

@mixin maxHeight ($maxHeight) { 
    max-height: $maxHeight;
}

@mixin fontWeight ($fontWeight) { 
    font-weight: $fontWeight;
}

@mixin alingItems ($alingItems) { 
    align-items: $alingItems;
}

@mixin background-color ($backgroundcolor) { 
    background-color: $backgroundcolor;
}

@mixin padding ($padding) { 
    padding: $padding;
}

@mixin fontSize ($fontSize) { 
    font-size: $fontSize;
}

@mixin flexDirection ($flexDirection) { 
    flex-direction: $flexDirection;
}

@mixin margin ($margin) { 
    margin: $margin;
}

@mixin justifyContent ($justifyContent) { 
    justify-content: $justifyContent;
}

@mixin borderRadius ($borderRadius) { 
    border-radius: $borderRadius;
}


*{
    box-sizing: border-box;
}

html, body{
    @include height(100%);
    @include margin(0);
    @include padding(0);
    @include fontSize(15px);
}

body{
    @include background-color($VeryDarkBlue);
    @include displayFlex;
    @include justifyContent(center);
    @include alingItems(center);
}

.main-container{
    @include displayFlex;
    @include width(100%);
    @include height(100%);
    @include maxWidth(1000px);
    @include background-color($DarkDesaturatedBlue);
    @include maxHeight(27rem);
    @include borderRadius(7px);
}

.left{
    @include displayFlex;
    @include flexDirection(column);
    @include padding(4rem);
    flex-basis: 50%;
}

.right{
    flex-basis: 50%;
    @include height(100%);
    @include width(100%);
    @include borderRadius(0 7px 7px 0);
    background-image: url(../images/image-header-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}

    .right::before {     
    content: ' ';        
    position:absolute;
    top: 0;
    left: 0;
    @include width(100%);
    @include height(100%);
    background-color: rgba(96, 15, 146, 0.5);    
} 

h1{
    font-family: 'Inter', sans-serif;
    color: $White;
    @include fontSize(30px);
    margin-top: 0;
    margin-bottom: 2rem;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: $SightlyTransparentWhite;
    @include margin(0);
    line-height: 1.7;
}

.left-footer{
    @include displayFlex;
    @include justifyContent(space-between);
    @include width(100%);
    @include height(100%);
    padding-top: 3rem;
}

.left-footerH2{
    @include displayFlex;
    @include justifyContent(center);
    @include flexDirection(column);
    min-width: 110px;   
}


h2{
    font-family: 'Inter', sans-serif;
    color: $SightlyTransparentWhiteHeadings;
    margin: 0;
    @include fontSize(15px);
    @include fontWeight(lighter);
    letter-spacing: 2px;
}

.insights{
    color: $SoftViolet;
}

.header{
    color: $White;
    font-family: 'Lexend Deca', sans-serif;
    @include fontSize(25px); 
    letter-spacing: 0; 
    @include fontWeight(500);  
}

@media screen and (max-width:700px) {

    .main-container{
        @include flexDirection(column-reverse);
        @include maxWidth(377px);
        @include maxHeight(49rem);
        @include borderRadius(10px);
        min-width: 400px;       
        overflow-y: scroll;      
    }

    .right{
        flex-basis: 0;
        @include maxHeight(300px);
        @include borderRadius(10px 10px 0 0);
        min-height: 250px;
    }

    .left{
        @include padding(3rem);
        @include maxHeight(575px);
        flex-basis: 0;
    }

    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }

    .left-footer{
        @include flexDirection(column);
        @include alingItems(center);
        @include justifyContent(0);
        text-align: center;        
    }

    .left-footerH2{
        padding-bottom: 20px;
    }
}